@import '../../assets/styles/style.scss';

.navbar {
  height: 100vh;
  background-color: map-get($color-change, 'polite');

  margin-top: auto;
  padding: 12px 11px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  &__item {
    width: 57px;
    height: 55px;

    background-color: #e4e4e4;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
  }
}
