.navbar {
  height: 80px;
  background-color: #215656;

  margin-top: auto;
  padding: 12px 11px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  @media (min-width: 685px) {
    flex-direction: column;

    height: 100vh;
  }

  &__item {
    width: 57px;
    height: 55px;

    background-color: #e4e4e4;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
  }
}
