.login {
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.login-container__form {
  display: flex;
  flex-direction: column;
}
.form-error {
  color: red;
  font-size: 10px;
}
