@import '../../assets/styles/style.scss';

.header {
  background-color: #c7c1c1;

  // font-weight: map-get($font-weights, 'bold-italic');
  &__nav {
    &-burger {
      width: 50px;
      height: 50px;

      gap: 7px;
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;

      border-radius: 15px;
      background-color: #fff;

      top: 10px;
      right: 10px;
      position: absolute;
      z-index: 5;

      &--active {
        width: 50px;
        height: 50px;

        gap: 7px;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;

        border-radius: 15px;
        background-color: #fff;

        top: 10px;
        right: 10px;
        position: absolute;
        z-index: 5;

        & span {
          width: 30px;
          height: 4px;

          border-radius: 5px;
          background-color: black;
        }
      }

      & span {
        width: 30px;
        height: 4px;

        border-radius: 5px;
        background-color: black;
      }
    }

    &-menu {
      width: 100%;
      height: 100vh;
      padding-top: 10px;

      position: absolute;
      z-index: 4;

      gap: 25px;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;

      background: rgba(13, 17, 17, 0.8);

      animation-name: menu-close;
      animation-duration: 0.6s;
      animation-fill-mode: forwards;

      &--active {
        width: 100%;
        height: 100vh;
        padding-top: 10px;

        position: absolute;

        z-index: 4;

        gap: 25px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;

        background: rgba(13, 17, 17, 0.8);

        animation-name: menu-open;
        animation-duration: 0.6s;
        animation-fill-mode: forwards;
      }

      @keyframes menu-open {
        from {
          transform: translateX(0%);
        }
        to {
          transform: translateX(-100%);
        }
      }
      @keyframes menu-close {
        from {
          transform: translateX(-100%);
        }
        to {
          transform: translateX(0%);
        }
      }

      &-item {
        margin-left: 12px;

        gap: 19px;
        display: flex;
        align-items: center;
        @include font(16px, 700, $white);

        &-profile {
          background-image: url('../../assets/icons/header-icons/profile-icon.svg');
          width: 18px;
          height: 21px;
        }
      }
    }
  }
}
